<div>
    <% if (theme.copyright.enable) { %>
        <ul class="post-copyright">
        <li class="post-copyright-author">
        <strong><%= __('copyright.author') %> </strong><%= config.author %>
        </li>
        <li class="post-copyright-link">
        <strong><%= __('copyright.link') %> </strong>
        <a href="<%- config.root %><%- page.path %>" target="_blank" title="<%= post.title %>"><%- config.url %>/<%- page.path %></a>
        </li>
        <li class="post-copyright-license">
            <strong><%= __('copyright.license_title') %>  </strong>
            <%= __('copyright.left_license_content') %><a rel="license" href="<%- theme.copyright.license_url %>" target="_blank" 
                title="Attribution-NonCommercial-NoDerivatives 4.0 International (CC BY-NC-ND 4.0)"> 
                <img alt="Creative Commons License" style="border-width:0; display:inline" src="<%- cdn_asset(theme.copyright.license_icon) %>">    
                <%- theme.copyright.license_title %></a>
            <%= __('copyright.right_license_content') %>
        </li>
        </ul>
    <% } %>
<div>
