<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><% if (page.title){ %><%= page.title %> | <% } %><%= config.title %></title>
  <% if (theme.favicon) { %>
    <link rel="icon" href="<%- cdn_asset(theme.favicon) %>">
  <% } %>
  <% if (theme.source_han_font) { %>
  <% } %>

  <!-- <%- css('https://cdn.jsdelivr.net/highlight.js/9.10.0/styles/github-gist.min.css') %> -->
  <%- partial('_partial/inline-style') %>
  <%- cdn_css('css/style') %>
  <%- partial('_partial/google-analytics') %>
</head>
