<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><% if (page.title){ %><%= page.title %> | <% } %><%= config.title %></title>

  <%- partial("_partial/favicon") %>

  <% if (theme.source_han_font) { %>
  <% } %>

  <%- inline_css("themes/hexo-theme-icalm/source/css/style.styl") %>
  <link rel="preload" href="<%- url_for('https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css') %>" as="style">
  <link rel="preload" href="<%- cdn_asset(theme.sidebar_background) %>" as="image">
  <link rel="preload" href="<%- cdn_asset(theme.avatar) %>" as="image">
  

  <link rel="stylesheet" href="<%- url_for('https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css') %>" media="none" onload="if(media!='all')media='all'">
  <link rel="stylesheet" href="<%- cdn_asset('css/defer-style.css') %>"  media="none" onload="if(media!='all')media='all'">

 
</head>
