<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><% if (page.title){ %><%= page.title %> | <% } %><%= config.title %></title>
  <% if (theme.favicon) { %>
    <% if (theme.favicon.ico) { %>
      <link rel="icon" href="<%- cdn_asset(theme.favicon.ico) %>">
    <% } %>
    <% if (theme.favicon.icon180px) { %>
      <link rel="apple-touch-icon" sizes="180x180" href="<%- cdn_asset(theme.favicon.icon180px) %>">
    <% } %>
    <% if (theme.favicon.icon32px) { %>
      <link rel="icon" type="image/png" sizes="32x32" href="<%- cdn_asset(theme.favicon.icon32px) %>">
    <% } %>
    <% if (theme.favicon.icon16px) { %>
      <link rel="icon" type="image/png" sizes="16x16" href="<%- cdn_asset(theme.favicon.icon16px) %>">
    <% } %>
    <% if (theme.favicon.manifest) { %>
      <link rel="icon" href="<%- url_for(theme.favicon.manifest) %>">
    <% } %>
  <% } %>
  <% if (theme.source_han_font) { %>
  <% } %>

  <%- inline_css("themes/hexo-theme-icalm/source/css/style.styl") %>
  <link rel="stylesheet" href="<%- url_for('https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css') %>" media="none" onload="if(media!='all')media='all'">
  <link rel="stylesheet" href="<%- cdn_asset('css/defer-style.css') %>"  media="none" onload="if(media!='all')media='all'">

  <%- partial('_partial/google-analytics') %>
</head>
